body {
  background-color: #03658c;
}

.sheetAndButton {
  margin-top: 50px;
  margin-right: 50px;
}

.container-sheet {
  font-family: "Arial", sans-serif;
  padding: 30px;
  border-radius: 10px;
  max-width: 793px;
  max-height: 800px;
  background-color: #fff;
}

.sheet {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 540px;
  height: 750px;
}

.tituloNome,
.paragrafo,
.titulos {
  font-family: "Montserrat", sans-serif;
}

.tituloNome {
  font-size: 1.3rem;
}

.titulos {
  font-size: 1rem;
}

.paragrafo {
  font-size: 0.8rem;
}

.grid-column1,
.grid-column2 {
  width: 50%;
}

.inf-tecnologia,
.inf-contato {
  /* background-color: #c2c2c2; */
  /* margin-top: 1rem; */
  margin-bottom: 10px;
  word-wrap: break-word;
}

#area {
  margin-bottom: 5px;
  height: auto;
}

.inf-sobre {
  /* background-color: #eeecec; */
  min-width: 252px;
  max-width: 252px;
  height: auto;
  word-wrap: break-word;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.header-card > h4,
.conteudo-card > p,
.titulos,
.tituloNome,
.conteudo-card > h4 {
  max-width: 270px;
  word-wrap: break-word;
}

.subtitulos {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.btnGerarPdf {
  margin-top: 5px;
  height: 50px;
  width: auto;
}

.sheetAndButton {
  display: flex;
  flex-direction: column;
}
