.card {
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

.titulo-projeto {
  font-size: 0.9rem;
  font-weight: bold;
}

.conteudo-card {
  height: 90%;
}
.conteudo-card > p {
  font-size: 0.8rem;
}

.header-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.paragrafo > a {
  text-decoration: none;
  font-style: italic;
  color: #000;
}
