.container-menu {
  padding: 15px;
}

.ul-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-menu {
  list-style: none;
}

.logo-menu {
  font-family: "Montserrat", sans-serif;
}

.list-menu a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
